@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Vynil shop</h1>
    <img src ="https://www.bandcds.co.uk/wp-content/uploads/2016/11/12cm_vinyl_cd_wallets_sm_4.png" />
</div>
